@charset "UTF-8";
body.light {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background: #e7e7e7;
  /* TODO LISTA */
}

body.light header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* MODE TOGGLE */
  /* OTSIKKO */
}

body.light header .toggleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body.light header .toggleContainer .toggleClass {
  position: relative;
  width: 20px;
  height: 20px;
  font-size: 16px;
  border-radius: 50%;
  background: #1e1e1e;
  cursor: pointer;
  margin-top: 1em;
  margin-right: 0.25em;
}

body.light header .toggleContainer .toggleClass::before {
  position: relative;
  white-space: nowrap;
}

body.light header .toggleContainer .toggleText {
  position: relative;
  font-size: 16px;
  cursor: pointer;
  margin-top: 1em;
  color: #1e1e1e;
  margin-left: 0.25em;
  text-transform: uppercase;
}

body.light header .toggleContainer .toggleText::before {
  position: relative;
  content: 'Dark mode';
  white-space: nowrap;
}

body.light header h1 {
  font-size: 40px;
  padding: 0.8em;
  color: #cc0033;
}

body.light header .counter {
  width: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body.light header .counter #total, body.light header .counter #totaltext {
  font-size: 16px;
  color: #1e1e1e;
}

body.light header .counter #remaining, body.light header .counter #remainingtext {
  font-size: 16px;
  color: #1e1e1e;
}

body.light header .counter #done, body.light header .counter #donetext {
  font-size: 16px;
  color: #1e1e1e;
}

body.light .todocontainer {
  padding: 1em;
}

body.light .todocontainer .todoform {
  border: none;
  /* TODO LISÄYS KENTTÄ */
  /* TODO LISÄYS NAPPI */
}

body.light .todocontainer .todoform .addtodo {
  width: 100%;
  padding: 0.5em;
  background: #e7e7e7;
  border: 1px solid #1e1e1e;
  color: #1e1e1e;
  font-size: 16px;
}

body.light .todocontainer .todoform .addtodo:focus {
  outline: none;
}

body.light .todocontainer .todoform .addbtn {
  position: relative;
  background: #cc0033;
  text-align: center;
  text-transform: uppercase;
  padding: 0.5em;
  cursor: pointer;
  width: 100%;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
  border: none;
  color: #f1f1f1;
  font-size: 16px;
}

body.light .todocontainer .todoform .addbtn:hover {
  background: #f3003d;
}

body.light .todocontainer .todolist {
  border: none;
  /* LISTA */
}

body.light .todocontainer .todolist li, body.light .todocontainer .todolist .checked {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0.5em;
  text-transform: uppercase;
  border: 1px solid #cc0033;
  margin-bottom: 0.5em;
  color: #1e1e1e;
  background: #e7e7e7;
  /* POISTA NAPPI */
  /* CHECKBOX */
}

body.light .todocontainer .todolist li .itemName, body.light .todocontainer .todolist .checked .itemName {
  font-size: 16px;
}

body.light .todocontainer .todolist li li.checked, body.light .todocontainer .todolist li .checked, body.light .todocontainer .todolist .checked .checked {
  background: #e7e7e7;
}

body.light .todocontainer .todolist li .delete-button, body.light .todocontainer .todolist .checked .delete-button {
  background: #c0c0c0;
  height: 30px;
  width: 30px;
  content: "✘";
  outline: none;
  border: none;
  z-index: 1000;
  color: #1e1e1e;
}

body.light .todocontainer .todolist li .delete-button:hover, body.light .todocontainer .todolist .checked .delete-button:hover {
  background: #9faab7;
}

@-webkit-keyframes click-wave {
  0% {
    height: 30px;
    width: 30px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

@keyframes click-wave {
  0% {
    height: 30px;
    width: 30px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

body.light .todocontainer .todolist li .option-input, body.light .todocontainer .todolist .checked .option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  height: 30px;
  width: 30px;
  -webkit-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  background: #c0c0c0;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
  right: 0;
  bottom: 0;
  left: 0;
}

body.light .todocontainer .todolist li .option-input:hover, body.light .todocontainer .todolist .checked .option-input:hover {
  background: #9faab7;
}

body.light .todocontainer .todolist li .option-input:checked, body.light .todocontainer .todolist .checked .option-input:checked {
  background: #cc0033;
}

body.light .todocontainer .todolist li .option-input:checked::before, body.light .todocontainer .todolist .checked .option-input:checked::before {
  height: 30px;
  width: 30px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 19.8px;
  text-align: center;
  line-height: 30px;
}

body.light .todocontainer .todolist li .option-input:checked::after, body.light .todocontainer .todolist .checked .option-input:checked::after {
  -webkit-animation: click-wave 0.35s;
  animation: click-wave 0.35s;
  background: #cc0033;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}

body.light .todocontainer .todolist .checked {
  text-transform: uppercase;
}

body.light .todocontainer .todolist .checked .itemName {
  color: #cc0033;
  text-decoration: line-through;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background: #373738;
  /* TODO LISTA */
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* MODE TOGGLE */
  /* OTSIKKO */
}

body header .toggleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .toggleContainer .toggleClass {
  position: relative;
  width: 20px;
  height: 20px;
  font-size: 16px;
  border-radius: 50%;
  background: #909293;
  cursor: pointer;
  margin-top: 1em;
  margin-right: 0.25em;
}

body header .toggleContainer .toggleClass::before {
  position: relative;
  white-space: nowrap;
}

body header .toggleContainer .toggleText {
  position: relative;
  font-size: 16px;
  cursor: pointer;
  margin-top: 1em;
  color: #909293;
  margin-left: 0.25em;
  text-transform: uppercase;
}

body header .toggleContainer .toggleText::before {
  position: relative;
  content: 'Light mode';
  white-space: nowrap;
}

body header h1 {
  font-size: 40px;
  padding: 0.8em;
  color: #f1f1f1;
}

body header .counter {
  width: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .counter #total, body header .counter #totaltext {
  font-size: 16px;
  color: #f1f1f1;
}

body header .counter #remaining, body header .counter #remainingtext {
  font-size: 16px;
  color: #f1f1f1;
}

body header .counter #done, body header .counter #donetext {
  font-size: 16px;
  color: #f1f1f1;
}

body .todocontainer {
  padding: 1em;
}

body .todocontainer .todoform {
  border: none;
  /* TODO LISÄYS KENTTÄ */
  /* TODO LISÄYS NAPPI */
}

body .todocontainer .todoform .addtodo {
  width: 100%;
  padding: 0.5em;
  background: #6a6b6b;
  border: 1px solid transparent;
  color: #f1f1f1;
  font-size: 16px;
}

body .todocontainer .todoform .addtodo:focus {
  outline: none;
}

body .todocontainer .todoform .addbtn {
  position: relative;
  background: #cc0033;
  text-align: center;
  text-transform: uppercase;
  padding: 0.5em;
  cursor: pointer;
  width: 100%;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
  border: none;
  color: #f1f1f1;
  font-size: 16px;
}

body .todocontainer .todoform .addbtn:hover {
  background: #f3003d;
}

body .todocontainer .todolist {
  border: none;
  /* LISTA */
}

body .todocontainer .todolist li, body .todocontainer .todolist .checked {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0.5em;
  text-transform: uppercase;
  border: 1px solid transparent;
  margin-bottom: 0.5em;
  color: #f1f1f1;
  background: #6a6b6b;
  /* POISTA NAPPI */
  /* CHECKBOX */
}

body .todocontainer .todolist li .itemName, body .todocontainer .todolist .checked .itemName {
  font-size: 16px;
}

body .todocontainer .todolist li .delete-button, body .todocontainer .todolist .checked .delete-button {
  background: #444445;
  height: 30px;
  width: 30px;
  content: "✘";
  outline: none;
  border: none;
  z-index: 1000;
  color: #f1f1f1;
}

body .todocontainer .todolist li .delete-button:hover, body .todocontainer .todolist .checked .delete-button:hover {
  background: #9faab7;
}

@keyframes click-wave {
  0% {
    height: 30px;
    width: 30px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

body .todocontainer .todolist li .option-input, body .todocontainer .todolist .checked .option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  height: 30px;
  width: 30px;
  -webkit-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  background: #444445;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
  right: 0;
  bottom: 0;
  left: 0;
}

body .todocontainer .todolist li .option-input:hover, body .todocontainer .todolist .checked .option-input:hover {
  background: #9faab7;
}

body .todocontainer .todolist li .option-input:checked, body .todocontainer .todolist .checked .option-input:checked {
  background: #cc0033;
}

body .todocontainer .todolist li .option-input:checked::before, body .todocontainer .todolist .checked .option-input:checked::before {
  height: 30px;
  width: 30px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 19.8px;
  text-align: center;
  line-height: 30px;
}

body .todocontainer .todolist li .option-input:checked::after, body .todocontainer .todolist .checked .option-input:checked::after {
  -webkit-animation: click-wave 0.35s;
  animation: click-wave 0.35s;
  background: #cc0033;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}

body .todocontainer .todolist .checked .itemName {
  color: #cc0033;
  text-decoration: line-through;
}
/*# sourceMappingURL=main.css.map */